/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/poppins-v20-latin-300.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/poppins-v20-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/poppins-v20-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/poppins-v20-latin-900.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
:root {
  --color-brand: #819b57;
  --color-brand-dark: #465929;
  --color-dark: #31261a;
  ---color-light: #faf4ea;
  --color-copyright: #a18268;
}
/* base */
*,
*::after,
*::before {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  color: var(--color-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
address {
  font-style: normal;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
a {
  display: inline-block;
}
.section {
  padding: 48px 0;
}
section:not(.hero-section, .advantages) {
  background-color: var(---color-light);
}
.accent {
  color: var(--color-brand);
}
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/* #region header */
header {
  padding-top: 32px;
}
.header,
.header-navigation {
  display: flex;
  justify-content: space-between;
  gap: 152px;
  align-items: center;
}
.header-navigation {
  flex-grow: 1;
}
.header-list {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  padding-left: 0;
  align-items: center;
}
.link {
  color: var(---color-light);
  text-align: center;
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand);
  font-weight: 600;
}

.button {
  border-radius: 8px;
  border: 2px solid var(--color-brand);
  background: var(--color-brand);
  color: var(---color-light);
  padding: 16px 32px;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  background-color: transparent;
  color: var(--color-brand);
}
/* #endregion */
/* #region hero */
.hero-section {
  padding: 272px 0;
  text-align: center;
  background-image: linear-gradient(
      103deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url("../img/bg/hero_bg.jpg");
  background-size: cover;
}

.hero-title {
  color: var(---color-light);
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}
/*#endregion*/
.advantages {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--color-brand);
}
.advantages .container {
  padding: 16px 0;
}
.advantages-list {
  color: var(---color-light);
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
}
/*#region Tradition */
.tradition-flex {
  display: flex;
  gap: 100px;
}

.traditions-img {
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  min-width: 606px;
  min-height: 466px;
}
.traditions-section {
  padding-top: 96px;
}
.tradition {
  padding-bottom: 42px;
}

.section-title {
  color: var(--color-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.31;
}
.tradition-text {
  padding-bottom: 42px;
}
.tradition-text .uppercase {
  text-transform: uppercase;
}
.tradition-text .brand {
  color: var(--color-brand);
  font-weight: 600;
}
/*#endregion */
/*#region shef */
.shef-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}
.shef-item {
  flex-basis: calc(100% / 2 - 30px / 2);
}
/* .shef-wrap {
  border: 1px solid var(--color-dark);
  border-radius: 4px 4px 4px 200px;
} */
.shef-foto {
  /* display: block; */
  border-radius: 4px 4px 4px 200px;
  /* transform: translate(10px, -10px); */
  box-shadow: -16px 16px 0 0 var(---color-light),
    -16px 16px 0 1px var(--color-dark);
}
.article-wrap {
  display: flex;
  gap: 30px;
}
.shef-name {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.shef-title {
  position: relative;
  margin-bottom: 80px;
  text-align: center;
}
.shef-title::before {
  content: "";
  display: block;
  width: 352px;
  height: 2px;
  position: absolute;
  left: 8px;
  bottom: 23px;
  background: #cfcfbc;
}
.shef-title::after {
  content: "";
  display: block;
  width: 352px;
  height: 2px;
  position: absolute;
  right: 8px;
  bottom: 23px;
  background: #cfcfbc;
}
.shef-about > p {
  margin-bottom: 18px;
}
.shef-about p:last-child {
  margin-bottom: 0;
}
/* #endregion */

/* #region formats*/
.formats-wrap {
  display: flex;
  align-items: center;
  gap: 43px;
}
.format-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.format-items {
  flex-basis: calc(100% / 3 - 40px / 3);
  /* width: 33%; */
  border-radius: 16px;
}
.formate-card {
  padding: 248px 24px 16px;
  color: var(---color-light);
}
.formats-title {
  font-size: 24px;
  font-weight: 600;
}
.formats-description > p {
  font-size: 14px;
  font-weight: 300;
}
.form-title {
  margin-top: 80px;
  text-align: center;
}
.walrus {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url("../img/Walrus.jpg");
}
.handlebar {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url("../img/Handlebar.jpg");
}
.horseshoe {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url("../img/Horseshoe.jpg");
}
.horseshoe,
.handlebar,
.walrus {
  background-size: cover;
}
.carusel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid var(--color-dark);
  width: 44px;
  height: 44px;
  background-color: transparent;
  flex-shrink: 0;
}
.carusel-arrow {
  fill: var(---color-light);
  stroke: #31261a;
  width: 32px;
  height: 32px;
}

.carusel-button:hover {
  background-color: var(--color-dark);
}
.carusel-button:hover .carusel-arrow {
  fill: var(--color-dark);
  stroke: var(---color-light);
}
/* #endregion */
/* #region contacts */
.contacts-section {
  padding-bottom: 96px;
}
.cont-title {
  margin-bottom: 16px;
}
.contacts-wrap {
  display: flex;
  gap: 32px;
}
.contact-item {
  flex-basis: calc(100% / 2 - 32px / 2);
  border-radius: 16px;
  /* flex-shrink: 0; */
}
/* #endregion */
/* #region footer */
.footer {
  background: url("../img/bg/hero_bg.png"), var(--color-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
}
.footer-wrap {
  display: flex;
  gap: 166px;
  justify-content: space-between;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-list-social {
  display: flex;
  gap: 22px;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(---color-light);
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand);
}
.address-icon {
  fill: var(--color-dark);
}
.address-icon:hover {
  stroke: var(--color-dark);
}
.address-copyright {
  font-size: 14px;
  color: var(--color-copyright);
}
/* #endregion */
