// css variable
:root {
  --color-brand: #819b57;
  --color-brand-dark: #465929;
  --color-dark: #31261a;
  ---color-light: #faf4ea;
  --color-copyright: #a18268;
}
// scss variable
$color-secondary:#449394;