/* #region formats*/
.formats-section{
&__title {
   padding-top: 46px;
  &--centered{
    text-align: center;
  }
}
&__wrap {
  display: flex;
  align-items: center;
  gap: 43px;
  padding-bottom: 40px;
}
&__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
&__items {
  flex-basis: calc(100% / 3 - 40px / 3);
  /* width: 33%; */
  border-radius: 16px;
  padding: 248px 24px 16px;
  color: var(---color-light);
  transition: transform 0.3s;
  &--walrus {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url("../img/Walrus.jpg");
}
&--handlebar {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url("../img/Handlebar.jpg");
}
&--horseshoe {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      #31261a 100%
    ),
    url("../img/Horseshoe.jpg");
}
&--horseshoe,
&--handlebar,
&--walrus {
  background-size: cover;
}
}
&__items:hover {
  transform: scale(1.05);
}
}

/* #endregion */