/*#region shef */
.shef-section{
&__title {
  font-size: 32px;
  position: relative;
  margin-bottom: 24px;
  @media screen  and (min-width:$bp-desktop){  
   font-size: 64px;
   margin-bottom: 80px;
  }

  &--centred{
    text-align: center;
  }
}
&__list {
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 24px 20px;

  @media screen  and (min-width:$bp-desktop){
  flex-direction: row;
  gap: 40px 30px;
  flex-wrap: wrap;
  border:none;
  }
}
&__item {
  flex:100%;;
  @media screen  and (min-width:$bp-desktop){
  flex-basis: calc(100% / 2 - 30px / 2);
  }
}
&__title::before {
  @media screen  and (min-width:$bp-desktop){
  content: "";
  display: block;
  width: 352px;
  height: 2px;
  position: absolute;
  left: 8px;
  bottom: 23px;
  background: #cfcfbc; 
  }
}
&__title::after {
  @media screen  and (min-width:$bp-desktop){
  content: "";
  display: block;
  width: 352px;
  height: 2px;
  position: absolute;
  right: 8px;
  bottom: 23px;
  background: #cfcfbc;}
}

}

/* .shef-wrap {
  border: 1px solid var(--color-dark);
  border-radius: 4px 4px 4px 200px;
} */

/* #endregion */